@model Shared.ViewModels.VendingMachineViewModel
<div id="beverages">
    @foreach (var beverage in Model.Beverages)
    {
        <div>
            <input type="radio" name="selectedBeverageId" value="@beverage.Id" />
            <label>@beverage.Name - @beverage.Price</label>
            <img src="@beverage.ImageUrl" height="200" width="200"/>
        </div>
    }
</div>

<div id="coinCounts">
    @foreach (var coin in Model.Coins.OrderBy(c=>c.Value))
    {
        <div>
            <label>@coin.Value - Available: @coin.Available</label>
            <input type="number" name="coinCounts[@coin.Count]" value="0" min="0" step="1" class="form-control" />
        </div>
    }
</div>

<button id="purchaseBtn">Purchase</button>

@section scripts {
    <script>
        $(function () {
            $('#purchaseBtn').click(function () {
                var selectedBeverage = $('input[name="selectedBeverageId"]:checked').val();
                var coinCounts = [];
                $('input[name^="coinCounts"]').each(function () {
                    coinCounts.push($(this).val());
                });

                $.ajax({
                    url: '@Url.Action("Purchase")',
                    type: 'POST',
                    data: {
                        selectedBeverageId: selectedBeverage,
                        coinsData: coinCounts
                    },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('An error occurred while processing the purchase.');
                    }
                });
            });
        });
    </script>
}
